body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: lightgrey;
}

form {
    display: flexbox;
    margin: 0,5row;
    padding: 05row;
    
}

h1 {
    color: black;
}

h1:active {
    color: blue;
}

footer {
    background-color: lightgrey;
}